*~
\#*\#
*.elc
auto-save-list
elpa
newsticker
tramp
url
jabber-avatar-cache
jabber-history
.mc-lists.el
secrets.gpg
customizations.el
projectile-bookmarks.eld
eshell
ido.last
recentf
smex-items
games
bookmarks
saves